#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.log
.cache
#Scala Stuffs
proguard_cache/
proguard_cache_conf/


#android stuff
gen/

#sbt-android
target
#idea
.idea
.idea_module